

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
        
        <link href="css/style.css" rel="stylesheet"/>
        </head>
        
        <body>
        
        <img src="http://www.bypeople.com/wp-content/uploads/2016/03/404-Airbnb_final-554adc9e2190445fea6d7f0e3a30e67e.gif">
        
        <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
                <h2>404 - The Page can't be found</h2>
            </div>
            <a href="/">Go TO Homepage</a>
        </div>
        </div>
        
