<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>EATIVE</title>
    <link rel="icon"
        href="https://static.wixstatic.com/media/1d595b_08578658b4e340a6869236035a2dc190~mv2.png/v1/fit/w_2500,h_1330,al_c/1d595b_08578658b4e340a6869236035a2dc190~mv2.png"
        type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    <style>
        .thumbnail img {
            width: 100%;
        }

        .thumbnail {
            padding: 0;
        }

        .thumbnail .caption-full {
            padding: 9px;
        }

        .delete-form {
            display: inline;
        }

        body {


            background-image: url('https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=600');

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100vh;

            background-color: #f0f4f7;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">EATIVE</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/restaurants">HOME</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/monika9/">ABOUT</a>
                    </li>
                    <li>
                        <a href="/owners/add">CONTACT US</a>
                    </li>
                    <li>
                        <a href="/maaliks">ADD RESTAURANT</a>
                    </li>
                    <li>
                        <a href="/admin">ADMIN</a>
                    </li>
                </ul>
                <div class="collapse navbar-collapse">
                    <ul class=" nav navbar-nav navbar-right">
                        <li><span style="color:antiquewhite; padding-top:15px; margin:15px;">Hello {{loggedInUser.name}}
                                !</span>
                        </li>
                        <li><a href="/logout">LOGOUT</a></li>
                    </ul>
                </div>
            </div>
    </nav>

    <div class="container">
        <div class="row">
            <h1 style="text-align:center; ">create a new restaurant</h1>
            <div style="width:30%;margin:25px auto;">

                {{#if restaurantAdded}}
                <div class="alert alert-success">
                    <strong>Success!</strong> Your restaurant was created successfully!
                </div>
                {{/if}}

                <form action="/maaliks/add" method="POST">

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="image">Image URL</label>
                        <input type="text" name="image" id="image" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" name="description" id="description" class="form-control">
                    </div>



                    <button type="submit" class="btn btn-primary">Create new restaurant</button>

                </form>

                <a href="/maaliks/home/">Go Back</a>
            </div>
        </div>
    </div>
    <p style="text-align: center;"> Trademark EATIVE 2019</p>
</body>

</html>